{# Overrides hacker/templates/partials/footer.html:
   this site keeps its posts in content/blog instead of content/posts. #}
{%- include "partials/svg-icons.html" -%}
{%- if page is defined and page.extra.pgp_key_enabled and config.extra.pgp_key %}
<p class="pgp-key">
  <a href="{{ config.extra.pgp_key.url }}">PGP:
    <code>{{ config.extra.pgp_key.fingerprint }}</code>
  </a>
</p>
{%- endif -%}
{%- set section = get_section(path="blog/_index.md") -%}
{%- set earliest_post = section.pages | last -%}
{%- set earliest_date = earliest_post.date | date(format="%Y") -%}
{% set current_date = now() | date(format="%Y") %}
<span class="copyright">&copy; {{ earliest_date }}{% if earliest_date != current_date %} - {{ current_date }}{% endif %} {{
  config.author }}</span>
